@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belleza&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

html {
    scroll-behavior: smooth;
    scroll-padding-top: 4rem; /* Offset para el header fixed */
    background-color: white;
}

body {
    font-family: 'Montserrat', sans-serif;
}