---
import Nav from "./Nav.astro";
import { Icon } from 'astro-icon/components';
import CartButton from '../cart/CartButton';
---

<header class="fixed top-0 z-50 w-full bg-white">
  <div class="relative h-10 w-full">
    <div class="absolute inset-0 flex items-center justify-center">
      <Nav />
    </div>

    <div class="absolute right-4 top-1/2 flex -translate-y-1/2 items-center gap-2">
      <button id="search-btn" class="p-1 opacity-70 transition hover:opacity-100" aria-label="Buscar">
        <Icon name="search" size={30} />
      </button>
  
      <button id="favorites-btn" class="p-1 opacity-70 transition hover:opacity-100" aria-label="Favoritos">
        <Icon name="heart" size={30} />
      </button>
      
      <CartButton client:load />
    </div>

  </div>
</header>