---

---

<section class="w-full">
  <div class="grid min-h-dvh w-full grid-cols-1 md:grid-cols-2">
    <!-- LADO IZQUIERDO -->
    <div
      class="relative flex items-center justify-center overflow-hidden bg-[#ff6f66]"
    >
      <div class="relative z-10 w-180 aspect-square">
        <img
          src="/imgs/brand/kuruba.png"
          alt="Main Image"
          class="w-full h-full object-contain"
        />
      </div>
    </div>

    <div class="relative flex items-center justify-center bg-[#ff3f63]">
      <div class="flex w-full max-w-md flex-col items-center px-6 text-center">
        <div class="grid h-35 w-40 place-items-center">
          <img
            src="imgs/brand/logo.png"
            alt="Kuruba Sexshop"
            class="h-40 w-40 object-contain"
          />
        </div>

        <h1
          class="text-6xl leading-none tracking-widest text-white md:text-8xl"
        >
          Kuruba
        </h1>

        <p class="mt-2 text-4xl text-white/90 tracking-wide">Sexshop</p>

        <a
          href="/tienda"
          class="mt-10 inline-flex items-center justify-center rounded-full bg-[#ffb2ff] px-10 py-4 text-[15px] font-semibold text-black shadow-[0_10px_30px_rgba(0,0,0,0.18)] transition hover:-translate-y-0.5 hover:opacity-95"
        >
          Compra ahora
        </a>
      </div>
    </div>
  </div>
</section>
