<section class="relative w-full min-h-dvh overflow-hidden">
  <img
    src="/imgs/brand/home-background.webp"
    alt="Background"
    class="absolute inset-0 w-full h-full object-cover"
  />

  <div class="relative z-10 grid min-h-dvh grid-cols-1 lg:grid-cols-2 items-center px-6 lg:px-16">
    <div class="flex flex-col items-center lg:items-start text-center lg:text-left gap-6 mt-10 lg:-mt-30">
      <div class="flex items-center justify-center">
        <img
          src="/imgs/brand/logo.png"
          alt="Logo"
          class="w-40 h-40 object-contain hide-on-short"
        />
      </div>

      <h1 class="text-white font-extrabold leading-tight">
        <span class="block text-4xl lg:text-6xl xl:text-9xl text-yellow-300">
          PLACER Y
        </span>
        <span class="block text-4xl lg:text-6xl xl:text-7xl 2xl:text-[5.6rem]">
          MULTIORGASMOS
        </span>
      </h1>

      <a
        href="#"
        class="mt-4 inline-block rounded-full bg-linear-to-r from-yellow-500 to-pink-600 border-3 border-yellow-500 px-10 py-4 text-white font-semibold text-lg shadow-lg hover:scale-105 transition mb-10"
      >
        LUBRICANTE ÍNTIMO
      </a>
    </div>

    <div class="relative flex justify-center lg:justify-end items-start">
      <img
        src="/imgs/products/multiorgasmos.webp"
        alt="Producto"
        class="w-30 md:w-30 lg:w-50 xl:w-60 drop-shadow-2xl md:translate-y-1 transform -translate-y-10 transition-transform xl:-translate-x-30"
      />
    </div>
  </div>
</section>

<style>
  @media (max-height: 615px) {
    .hide-on-short {
        display: none !important;
    }
}
</style>